*,
::before,
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto','sans-serif';
}

img{
    object-fit: contain;
    vertical-align: middle;
}

